---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// type-scale
$type-size-1 : 1.138em;
$type-size-2 : 1.067em;
$type-size-3 : 1em;
$type-size-4 : 0.937em;
$type-size-5 : 0.878em;
$type-size-6 : 0.823em;
$type-size-7 : 0.772em;
$type-size-8 : 0.678em;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials